@font-face {
    font-family: 'Arboria';
    src: url('../fonts/FontsFree-Net-Arboria-Bold.ttf');
}

:root {
    --primary-color: red;
    --background-color: #f6f6f6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arboria', sans-serif;
    
}

html {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, label {
    font-family: 'Arboria', sans-serif;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--background-color);
}

.container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 100%;
    max-width: 1440px;
    padding: 0 3rem;
    position: -webkit-sticky; /* for safari */
    position: sticky;
    top: 0;
    background-color: #fff;

    -webkit-box-shadow: 0px 2px 12px 2px rgba(179,179,179,1);
    -moz-box-shadow: 0px 2px 12px 2px rgba(179,179,179,1);
    box-shadow: 0px 2px 12px 2px rgba(179,179,179,1);
}

.container .header h1 {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 3px;
}

.container .header .icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.container .header .icon-wrapper ion-icon {
    font-size: 1.5rem;
}

.container .header .icon-wrapper h6 {
    font-size: 0.8rem;
    font-family: 'Arboria', sans-serif;
}

.container .sub-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--background-color);
    padding: 0 3rem;
    gap: 15px;
}

.container .sub-header h4{
    font-size: 2rem;
}

.content {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    padding: 0 3rem;
    gap: 1rem;
}

.content .section-style {
    display: flex;
    width: 100%;
}

.content .product-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
}

.content .product-section .image-wrapper {
    width: 100%;
    height: 100%;
    background-image: url('https://static.riachuelo.com.br/RCHLO/14247984003/portrait/279d0565feb361cff852a6a792ffdb5c89890ba3.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.content .product-section .product-info div {
    margin: 0.5rem 0; 
}

.content .product-section .product-info div h5 {
    font-size: 1.5rem;
    font-weight: bold;
}

.content .product-section .product-info div h6 {
    font-size: 0.8rem;
    font-weight: 600;
    color: #797979;
}

.form-section form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    flex-direction: row;    
}

.form-section {
    display: flex;
    flex: 3;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.form-group h4 {
    font-size: 1.7rem;
}

.form-control {
    display: flex;
    flex-direction: column;
}

.form-control input, select {
    height: 40px;
    border-radius: 4px;
    border: 1px solid #797979;
}

.form-control input {
    padding: 10px;
}

.form-group .checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

form .submit-buttom {
    width: 50%;
    height: 45px;
    background-color:#3caa73;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

form .submit-buttom:hover {
    transition: 200ms all;
    background-color: #41b87c;
}

@media only screen and (max-width: 992px) {
    .form-section {
        display: flex;
        flex: 2;
    }

    .form-section form {
        grid-template-columns: repeat(1, 1fr);  
    }

    .content .product-section .image-wrapper img {
        height: 50%;
    }

    .content .product-section .product-info div h5 {
        font-size: 1rem;
        font-weight: bold;
        text-align: justify;
    }
}

@media only screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        padding: 0 2rem;

    }

    .content .product-section {
        align-items: center;
    }

    .content .product-section .image-wrapper {
        width: 100%;
        height: 350px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .container .header {
        height: 10vh;
        padding: 0 1rem;
    }

    .container .header h1 {
        font-size: 1.8rem;
    }

    .container .header .icon-wrapper h6 {
        display: none;
    }

    .content .product-section .product-info div h5 {
    font-size: 1rem;
    font-weight: bold;
}


}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #bababa;
    border-radius: 4px;
}

